<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${items.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">商品标题：</label>
								<div class="col-sm-8">
									<input id="title" name="title" th:value="${items.title}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">供应商名称：</label>
								<div class="col-sm-8">
									<input id="supId" name="supId" th:value="${items.supId}" class="form-control" type="hidden">

									<input id="supName" name="supName" th:value="${items.supName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品卖点：</label>
								<div class="col-sm-8">
									<input id="sellPoint" name="sellPoint" th:value="${items.sellPoint}" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">商品积分：</label>
								<div class="col-sm-8">
									<input id="integral" name="integral" th:value="${items.integral}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品价格RMB分：</label>
								<div class="col-sm-8">
									<input id="price" name="price" th:value="${items.price}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">库存数量：</label>
								<div class="col-sm-8">
									<input id="num" name="num" th:value="${items.num}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">售卖数量限制：</label>
								<div class="col-sm-8">
									<input id="limitNum" name="limitNum" th:value="${items.limitNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品图片主图：</label>
								<div class="col-sm-8">
									<input id="image" name="image" th:value="${items.image}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">所属类目，叶子类目：</label>
								<div class="col-sm-8">
									<input id="cid" name="cid" th:value="${items.cid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">版本号：</label>
								<div class="col-sm-8">
									<input id="verId" name="verId" th:value="${items.verId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品状态，1-正常，2-下架，3-删除：</label>
								<div class="col-sm-8">
									<input id="status" name="status" th:value="${items.status}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人ID：</label>
								<div class="col-sm-8">
									<input id="createUserId" name="createUserId" th:value="${items.createUserId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人：</label>
								<div class="col-sm-8">
									<input id="createUser" name="createUser" th:value="${items.createUser}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" th:value="${items.createTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改人ID：</label>
								<div class="col-sm-8">
									<input id="modifyUserId" name="modifyUserId" th:value="${items.modifyUserId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改人：</label>
								<div class="col-sm-8">
									<input id="modifyUser" name="modifyUser" th:value="${items.modifyUser}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">更新时间：</label>
								<div class="col-sm-8">
									<input id="modifyTime" name="modifyTime" th:value="${items.modifyTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">已字节的形式保存富文本内容：</label>
								<div class="col-sm-8">
									<input id="textByte" name="textByte" th:value="${items.textByte}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/items/edit.js">
	</script>
</body>
</html>
