<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="addressId" name="addressId" th:value="${address.addressId}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">用户id：</label>
								<div class="col-sm-8">
									<input id="userId" name="userId" th:value="${address.userId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">用户名：</label>
								<div class="col-sm-8">
									<input id="userName" name="userName" th:value="${address.userName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">电话：</label>
								<div class="col-sm-8">
									<input id="tel" name="tel" th:value="${address.tel}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">省份id：</label>
								<div class="col-sm-8">
									<input id="stateId" name="stateId" th:value="${address.stateId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">省份：</label>
								<div class="col-sm-8">
									<input id="state" name="state" th:value="${address.state}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">城市id：</label>
								<div class="col-sm-8">
									<input id="cityId" name="cityId" th:value="${address.cityId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">城市：</label>
								<div class="col-sm-8">
									<input id="city" name="city" th:value="${address.city}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">区域id：</label>
								<div class="col-sm-8">
									<input id="districtId" name="districtId" th:value="${address.districtId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">地区：</label>
								<div class="col-sm-8">
									<input id="district" name="district" th:value="${address.district}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">详细地址：</label>
								<div class="col-sm-8">
									<input id="streetName" name="streetName" th:value="${address.streetName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">邮编：</label>
								<div class="col-sm-8">
									<input id="zip" name="zip" th:value="${address.zip}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否设置为默认地址(0为默认)：</label>
								<div class="col-sm-8">
									<input id="isDefault" name="isDefault" th:value="${address.isDefault}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">接收人姓名：</label>
								<div class="col-sm-8">
									<input id="receName" name="receName" th:value="${address.receName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">接收人电话：</label>
								<div class="col-sm-8">
									<input id="receTel" name="receTel" th:value="${address.receTel}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/shop/address/edit.js">
	</script>
</body>
</html>
